<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="es.burgostv"
      android:versionCode="6"
      android:versionName="2.0">
    <application android:icon="@drawable/icono" android:label="@string/nombre_aplicacion">
        <activity android:name="es.burgostv.SplashActivity" android:label="@string/nombre_aplicacion">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="es.burgostv.PrincipalActivity" >
            <intent-filter>
                <action android:name="es.burgostv.PrincipalActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Abrir la portada cuando se detecte la url principal -->
            <intent-filter>
			 <action android:name="android.intent.action.VIEW" />
			 <category android:name="android.intent.category.DEFAULT" />
			 <category android:name="android.intent.category.BROWSABLE" />
			 <data android:scheme="http" android:host="www.burgostv.es" android:pathPattern="/" />
			</intent-filter>
        </activity>
        <activity android:name="es.burgostv.ListaActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="es.burgostv.ListaActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>    
        </activity>
        <activity android:name="es.burgostv.ObjetoActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="es.burgostv.ObjetoActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         <activity android:name="es.burgostv.RedireccionaActivity" >
            <intent-filter>
                <action android:name="es.burgostv.RedireccionaActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Abrir la portada cuando se detecte la url principal -->
            <intent-filter>
			 <action android:name="android.intent.action.VIEW" />
			 <category android:name="android.intent.category.DEFAULT" />
			 <category android:name="android.intent.category.BROWSABLE" />
			 <data android:scheme="http" android:host="www.burgostv.es" android:pathPattern="/noticias/.*" />
			 <data android:scheme="http" android:host="www.burgostv.es" android:pathPattern="/reportajes/.*" />
			 <data android:scheme="http" android:host="www.burgostv.es" android:pathPattern="/mas-deporte/.*" />
			 <data android:scheme="http" android:host="www.burgostv.es" android:pathPattern="/burgos-en-persona/.*" />
			</intent-filter>
        </activity>
        <activity android:name="es.burgostv.BuscarActivity" >
            <intent-filter>
                <action android:name="es.burgostv.BuscarActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>    
        </activity>
        <activity android:name="es.burgostv.VideoActivity" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="es.burgostv.VideoActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>    
        </activity>
        <activity android:name="es.burgostv.DirectoActivity" android:screenOrientation="landscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="es.burgostv.DirectoActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>    
        </activity>
        <activity android:name="es.burgostv.ErrorActivity" >
            <intent-filter>
                <action android:name="es.burgostv.ErrorActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>    
        </activity>
        <activity android:name="es.burgostv.fragment.ObjetoActivity" android:screenOrientation="landscape">
        </activity>
        <activity android:name="es.burgostv.fragment.ObjetoDetalleFragment" android:screenOrientation="landscape">
        </activity>
        <activity android:name="es.burgostv.fragment.ObjetoListaFragment" android:screenOrientation="landscape">
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>